* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  position: fixed;
  width: 100vw;
  height: 135px;
  background-color: #00B4C7;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  box-shadow: 0px 6px 20px 1px #46454538;
}

header .infoEscuela {
  display: flex;
  align-items: center;
}

header .infoEscuela img {
  height: 80px;
}

header .infoEscuela div {
  margin-left: 20px;
  color: white;
  font-family: sans-serif;
}

header .infoEscuela div h1 {
  font-size: 20px;
}

header .infoEscuela div h2 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}

header .infoEscuela div p {
  font-size: 12px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

header nav li {
  list-style: none;
}


header nav li a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  transition: 0.2s;
}

header nav li a:hover {
  color: #dd3491;
  text-shadow: 3px 5px 5px #25252556;
}

header nav li a:active {
  color: #a3286c;
  text-shadow: none;
}

main {
  padding-top: 135px;
}

/* SECCION 1 */
main #seccion1 {
  min-height: 100vh;
  padding: 30px;
  background-image: url("../images/escuelaFondo.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px #252525;
}



main #seccion1 h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
}

main #seccion1 p {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}

/* SECCION 2 */
main #seccion2 {
  min-height: 80vh;
  padding: 30px;
  text-align: center;
  color: #02535c;
}

main #seccion2 h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
}

main #seccion2 div {
  margin-top: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F5DA18;
  border-radius: 4px;
}


main #seccion2 div p {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}

main #seccion2 div a button {
  border: none;
  border-radius: 4px;
  background-color: #00B4C7;
  color: white;
  padding: 10px 20px;
  transition: 0.3s;
}


main #seccion2 div a button:hover {
  transform: scale(1.1);
}

main #seccion2 div a button:active {
  transform: scale(0.9);
}

/* SECCION 3 */
main #seccion3 {
  min-height: 80vh;
  padding: 30px;
  background-color: #6fd3df;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px #25252560;
}

main #seccion3 h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
}

main #seccion3 .contenedor {
  margin-top: 50px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 20px;
}

main #seccion3 div iframe{
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

/* FOOTER */

footer {
  width: 100vw;
  background-color: #6c757d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

footer .desarrolladores h5 {
  color: #95a6b6;
  font-family: sans-serif;
  text-align: center;
}

footer .desarrolladores p {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

footer .derechos {
  color: white;
  font-family: sans-serif;
  margin: 20px 0;
}

footer .rrss a {
  text-decoration: none;
}


footer .rrss a img {
  height: 30px;
  margin-left: 10px;
  transition: 0.3s;
}

footer .rrss a img:hover {
  transform: scale(1.2);
}

footer .rrss a img:active {
  transform: scale(0.8);
}