* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* HEADER */

header {
  position: fixed;
  height: 135px;
  width: 100vw;
  background-color: #00818f;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  box-shadow: 0px 6px 20px 1px #46454538;
}

header .infoEscuela {
  display: flex;
  align-items: center;
}

header .infoEscuela img {
  height: 80px;
}

header .infoEscuela div {
  margin-left: 20px;
  color: white;
  font-family: sans-serif;
}

header .infoEscuela div h1 {
  font-size: 20px;
}

header .infoEscuela div h2 {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}

header .infoEscuela div p {
  font-size: 12px;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

header nav li {
  list-style: none;
}

header nav li a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  transition: 0.2s;
}

header nav li a:hover {
  text-shadow: 3px 5px 5px #25252556;
}

header nav li a:active {
  text-shadow: none;
}

/* MAIN */
main {
  padding-top: 135px;
}

/* SECCION 1 */
main #sobreNosotros {
  scroll-margin-top: 135px;
  min-height: 100vh;
  padding: 30px;
  background-image: url("../images/escuelaFondo.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  text-shadow: 0px 0px 10px #252525;
}



main #sobreNosotros h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
}

main #sobreNosotros p {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}

/* SECCION 2 */
main #material {
  scroll-margin-top: 135px;
  min-height: 80vh;
  padding: 30px;
  text-align: center;
  color: #02535c;
}

main #material h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
}

main #material div {
  margin-top: 50px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #F5DA18;
  border-radius: 4px;
}


main #material div p {
  font-family: sans-serif;
  margin-bottom: 10px;
  font-size: 18px;
}

main #material div a button {
  border: none;
  border-radius: 4px;
  background-color: #00818f;
  color: white;
  padding: 10px 20px;
  transition: 0.3s;
}


main #material div a button:hover {
  transform: scale(1.1);
}

main #material div a button:active {
  transform: scale(0.9);
}

/* SECCION 3 */
main #contacto {
  scroll-margin-top: 135px;
  min-height: 80vh;
  padding: 30px;
  background-color: #00818f;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 10px #25252560;
}

main #contacto h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  font-size: 24px;
}

main #contacto .contenedor {
  margin-top: 50px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 20px;
}

main #contacto div iframe {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

/* FOOTER */

footer {
  width: 100vw;
  background-color: #6c757d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
}

footer .desarrolladores h5 {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

footer .desarrolladores p {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}

footer .derechos {
  color: white;
  font-family: sans-serif;
  margin: 20px 0;
}

footer .rrss a {
  text-decoration: none;
}


footer .rrss a img {
  height: 30px;
  margin-left: 10px;
  transition: 0.3s;
}

footer .rrss a img:hover {
  transform: scale(1.2);
}

footer .rrss a img:active {
  transform: scale(0.8);
}

/*MEDIA QUERIES*/



@media (min-width:768px) {

  /*HEADER*/
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav {
    align-self: flex-end;
  }

  header nav li {
    margin-left: 15px;
  }

  header .infoEscuela div h1 {
    font-size: 24px;
  }

  header .infoEscuela div h2 {
    font-size: 18px;
  }

  header .infoEscuela div p {
    font-size: 16px;
  }

  header nav ul {
    margin-top: 20px;
  }

  /*MAIN*/

  main #sobreNosotros,
  main #material,
  main #contacto {
    min-height: fit-content;
    padding: 50px 80px;
  }

  main #sobreNosotros h3,
  main #material h3,
  main #contacto h3 {
    font-size: 30px;
  }

  main #material div {
    padding: 50px;
  }

  main #material div a button {
    font-size: 16px;
  }

  main #contacto .contenedor div {
    margin-bottom: 50px;
  }

  /*FOOTER*/
  footer {
    flex-direction: row;
    padding: 10px 30px;
  }

  footer .desarrolladores h5 {
    text-align: start;
    font-size: 14px;
  }

  footer .desarrolladores p {
    font-size: 18px;
  }

  footer .derechos {
    font-size: 18px
  }

  footer .rrss a img {
    height: 40px;
    margin-left: 15px;
  }
}

@media (min-width:1200px) {

  /*MAIN*/

  main #sobreNosotros,
  main #material,
  main #contacto {
    padding: 50px 150px;
  }

  main #contacto .contenedor {
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    text-align: left;
  }
}

@media (min-width:1600px) {

  /*HEADER*/
  header {
    padding: 10px 200px;
  }

  header .infoEscuela div h1 {
    font-size: 20px;
  }

  header .infoEscuela div h2 {
    font-size: 16px;
  }

  header .infoEscuela div p {
    font-size: 14px;
  }

  header nav li {
    margin-left: 80px;
  }

  /*MAIN*/

  main #sobreNosotros,
  main #material,
  main #contacto {
    padding: 50px 350px;
  }

  main #sobreNosotros h3,
  main #material h3,
  main #contacto h3 {
    font-size: 24px;
    margin-bottom: 50px;
  }

  main #sobreNosotros p,
  main #material div p,
  main #contacto .contenedor {
    font-size: 16px;
  }

  /*FOOTER*/
  footer {
    padding: 0px 200px;
  }

  footer .rrss a img {
    height: 30px;
  }

  footer .desarrolladores h5 {
    font-size: 12px;
  }

  footer .desarrolladores p,
  footer .derechos {
    font-size: 16px;
  }
}